

/*************************************데스크탑******************************************************************/
@media screen and (min-width:1025px){
	body{font-size:16px; width:100%;}
	#work-content-inner,
	#footer-inner{
		width:62.5%;
		margin:0 auto;
		overflow:hidden;
		color:#666;
	}
/************************top content******************************/
	#work-content-top{
		width:100%;
		height:600px;
		background:url(../coffee_image/coffee_bg.png)no-repeat;
		position:relative;
		background-size:100%;
	}
	.caption{
		width:100%;
		height:100%;
		background:rgba(0,0,0,0.2);
	}
	.coffee-img{
		width:40%;
		position:absolute;
		top:52%;
		left:45%;
		transform:translate(-50%,-50%);
		opacity:0.8;
	}
	.move{
		position:absolute;
		top:100%;
		left:6%;
		color:#fff;
		font-weight:bold;
		font-size:24px;
		transition: all 0.5s ease-in-out;
		display:none;
	}
	#work-content-inner{
		overflow:hidden;
		margin:100px auto;
	}
	#work-content-top>a{display:block; height:100%;}
	#scroll-top{
		background:#d9d9d9;
		border-radius:10px;
		position:fixed;
		right:8%;
		bottom:10%;
		text-align:center;
		line-height:50px;
		width:50px;
		height:50px;
		font-weight:bold;
	}
	#scroll-top a:hover{background:#666; color:#fff; border-radius:10px;}
	#scroll-top a{display:block;}
	#top-content{
		width:100%;
		text-align:center;
		margin:20px 0;
	}
	#top-content a{display:block; line-height:40px; /*font-size:24px;*/}
	#top-content a:hover{color:#044406;}
	#content-box{ /*border:1px solid #000;*/}

	/********************tab************************/
	#tab-menu{overflow:hidden; border:1px solid #666;}
	#tab-menu li{
		float:left;
		width:16.6666%;
		line-height:80px;
		text-align:center;
		background:#f2f2f2;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	/*#tab-menu li:last-child{border-right:none;}*/
	#tab-menu li a{display:block; font-weight:bold;}
	#tab-menu li a:hover{background:#044406; color:#fff; font-weight:bold;}
	.tab_color{background:#044406; color:#fff; font-weight:bold;}

	.tab-content ul{overflow:hidden;}
	.tab-content ul li img{margin-bottom:20px;}
	.tab-content  .img_100{width:100%;}
	.tab-content  .img_50{width:49.5%;}
	.tab-content ul{margin-bottom:30px;}
	.tab-content ul li h2{
		text-align:center;
		font-size:30px;
		color:#044406;
		border-top:2px solid #666;
		line-height:80px;
	}
	.content-text{margin-bottom:20px;}
	.content-text span{color:red;}
	.tab-content ul li h3{
		font-size:22px;
		line-height:30px;
		color:#044406;
	}
	.tab-content ul li p{
		font-size:18px;
		line-height:25px;
	}

}

/************************************************************테블릿*********************************************************/
@media screen and (min-width:768px) and (max-width:1024px){
	body{width:100%;}
	#work-content-inner,
	#footer-inner{
		width:95%;
		margin:0 auto;
		overflow:hidden;
		color:#666;
	}
/************************top content******************************/
	#work-content-top{
		width:100%;
		height:400px;
		background:url(../coffee_image/coffee_bg.png)no-repeat;
		position:relative;
		background-size:100%;
	}
	.caption{
		width:100%;
		height:100%;
		background:rgba(0,0,0,0.2);
	}
	.coffee-img{
		width:50%;
		position:absolute;
		top:52%;
		left:45%;
		transform:translate(-50%,-50%);
		opacity:0.8;
	}
	.move{
		position:absolute;
		bottom:10%;
		left:6%;
		color:#fff;
		font-weight:bold;
		font-size:1rem;
	}
	#work-content-inner{
		overflow:hidden;
		margin:80px auto;
	}
	#work-content-top>a{display:block; height:100%;}
	#scroll-top{
		background:#d9d9d9;
		border-radius:10px;
		position:fixed;
		right:8%;
		bottom:10%;
		text-align:center;
		line-height:50px;
		width:50px;
		height:50px;
		font-weight:bold;
	}
	/*#scroll-top a:hover{background:#666; color:#fff; border-radius:10px;}*/
	#scroll-top a{display:block;}
	#top-content{
		width:100%;
		text-align:center;
		margin:20px 0;
	}
	#top-content a{display:block; line-height:40px; /*font-size:24px;*/}
	#top-content a:hover{color:#044406;}
	#content-box{ /*border:1px solid #000;*/}

	/********************tab************************/
	#tab-menu{overflow:hidden; border:1px solid #666;}
	#tab-menu li{
		float:left;
		width:16.6666%;
		line-height:80px;
		text-align:center;
		background:#f2f2f2;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	/*#tab-menu li:last-child{border-right:none;}*/
	#tab-menu li a{display:block; font-weight:bold; font-size:0.938rem}
	#tab-menu li a:hover{background:#044406; color:#fff; font-weight:bold;}
	.tab_color{background:#044406; color:#fff; font-weight:bold;}

	.tab-content ul{overflow:hidden;}
	.tab-content ul li img{margin-bottom:20px;}
	.tab-content  .img_100{width:100%;}
	.tab-content  .img_50{width:49.5%;}
	.tab-content ul{margin-bottom:30px;}
	.tab-content ul li h2{
		text-align:center;
		font-size:30px;
		color:#044406;
		border-top:2px solid #666;
		line-height:80px;
	}
	.content-text{margin-bottom:20px;}
	.content-text span{color:red;}
	.tab-content ul li h3{
		font-size:22px;
		line-height:30px;
		color:#044406;
	}
	.tab-content ul li p{
		font-size:18px;
		line-height:25px;
	}
}

/*************************************************************핸드폰*******************************************************/
@media screen and (max-width:767px){
	body{width:100%;}
	#work-content-inner,
	#footer-inner{
		width:95%;
		margin:0 auto;
		overflow:hidden;
		color:#666;
	}
/************************top content******************************/
	#work-content-top{
		width:100%;
		height:250px;
		background:url(../coffee_image/coffee_bg.png)no-repeat;
		position:relative;
		background-size:100%;
	}
	.caption{
		width:100%;
		height:100%;
		background:rgba(0,0,0,0.2);
	}
	.coffee-img{
		width:55%;
		position:absolute;
		top:50%;
		left:40%;
		transform:translate(-50%,-50%);
		opacity:0.8;
	}
	.move{
		position:absolute;
		bottom:10%;
		left:6%;
		color:#fff;
		font-weight:bold;
		font-size:1rem;
	}
	#work-content-inner{
		overflow:hidden;
		margin:60px auto;
	}
	#work-content-top>a{display:block; height:100%;}
	#scroll-top{
		background:#d9d9d9;
		border-radius:10px;
		position:fixed;
		right:6%;
		bottom:4%;
		text-align:center;
		line-height:40px;
		width:40px;
		height:40px;
		font-weight:bold;
	}
	/*#scroll-top a:hover{background:#666; color:#fff; border-radius:10px;}*/
	#scroll-top a{display:block;}
	#top-content{
		width:100%;
		text-align:center;
		margin:10px 0;
	}
	#top-content>a{font-size:1.2rem}
#top-content a{display:block; line-height:30px; /*font-size:24px;*/}
	#top-content a:hover{color:#044406;}
	#content-box{ /*border:1px solid #000;*/}

	/********************tab************************/
	#tab-menu{overflow:hidden; border:1px solid #666;}
	#tab-menu li{
		float:left;
		width:33.3333%;
		line-height:50px;
		text-align:center;
		background:#f2f2f2;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	/*#tab-menu li:last-child{border-right:none;}*/
	#tab-menu li a{display:block; font-weight:bold; font-size:0.938rem}
	#tab-menu li a:hover{background:#044406; color:#fff; font-weight:bold;}
	.tab_color{background:#044406; color:#fff; font-weight:bold;}

	.tab-content ul{overflow:hidden;}
	.tab-content ul li img{margin-bottom:15px;}
	.tab-content  .img_100{width:100%;}
	.tab-content  .img_50{width:49.5%;}
	.tab-content ul{margin-bottom:20px;}
	.tab-content ul li h2{
		text-align:center;
		font-size:2rem;
		color:#044406;
		border-top:2px solid #666;
		line-height:60px;
	}
	.content-text{margin-bottom:20px;}
	.content-text span{color:red;}
	.tab-content ul li h3{
		font-size:1.5rem;
		line-height:30px;
		color:#044406;
	}
	.tab-content ul li p{
		font-size:1.2rem;
		line-height:20px;
	}
}